section ul {
	width: 900px;
	float: left;
	padding-top: 40px;
}

/* Generic styles */
#reveal h1.title {
	font-size: 180px;
}

span.redshadow {
	color:#a00;
	text-shadow: 0px 0px 20px rgba(0,0,0,0.8);
}

span.blueshadow {
	color:#33f;
	text-shadow: 0px 0px 20px rgba(0,0,0,0.8);
}