<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Presentation Template</title>
    
    <meta name="description" content="Presentation Template">
    <meta name="author" content="Tony Lukasavage" />
    
    <link href="../common/css/appc.css" rel="stylesheet" />
    <link href="css/presentation.css" rel="stylesheet" />
    <link href="../common/css/showoff.css" rel="stylesheet"/>

    <!-- SyntaxHighlighter includes -->
    <script type="text/javascript" src="../common/syntaxhighlighter/shCore.js"></script>
    <script type="text/javascript" src="../common/syntaxhighlighter/shBrushJScript.js"></script>
    <script type="text/javascript" src="../common/syntaxhighlighter/shBrushBash.js"></script>
    <script type="text/javascript" src="../common/syntaxhighlighter/shBrushCss.js"></script>
    <script type="text/javascript" src="../common/syntaxhighlighter/shBrushXml.js"></script>
    <link href="../common/syntaxhighlighter/shCore.css" rel="stylesheet"/>
    <link href="../common/syntaxhighlighter/shThemeDefault.css" rel="stylesheet"/>
    
    <script type="text/javascript" src="../common/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../common/js/l10n.js"></script>
    <script type="text/javascript" src="js/localizations.js"></script>
    <script type="text/javascript" src="../common/js/profile.js"></script>
</head>
<body>

<div id="impress" class="impress-not-supported">

    <div class="fallback-message">
        <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
        <p>For the best experience please use the latest <b>Chrome</b> or <b>Safari</b> browser. Firefox 10 (to be released soon) will also handle it.</p>
    </div>
    
    <div id="title" class="step center" data-x="0" data-y="0">
        <h1>Presentation Title</h1>
        <br>
        <p>A relatively brief description of what this presentation is all about. It's up to you.</p>
        <br>
        <img class="appc-footnote-img" src="../common/images/appc-400px.png"/>
    </div>
    
    <div id="presenter" class="step" data-x="1000" data-y="1000" data-rotate="360">
    	<img class="presenterpic profile_headshot" src="/profile/headshot.jpg"/>
    	<div class="bio">
	    	<div class="blue80 profile_name">Your Name Here</div>
	    	<div style="padding: 40px 0px 20px 0px; font-size:32px;">
	    		<img class="employee profile_logo" src="images/badges/titan.png"/>
	    		<div class="profile_title"></div> 
				<div style="margin-top:10px;font-size:0.7em;" class="profile_company"></div>
	    	</div>
    	</div>
    	
    	<!-- Add/remove certification badges are appropriate -->
    	<div id="badges" class="profile_badges"></div>
    	
    	<!-- Enter your own website and twitter, or other contact info -->
    	<div class="contact profile_link_bar"></div>
    </div>
    
    <!-- 
         Leave this here if you want an overview step, which allows 
         you to see all of your steps at once. As your presentation
         canvas grows, you may need to increase the data-scale value 
         to see the whole canvas
    -->
	
	<div id="thanks" class="step center l_thanks" data-x="1000" data-y="-600" data-scale="0.5">
    	Thank You!
    </div>

    <div class="step canvas-overview" data-scale="5"></div>
</div>

<!-- 
     Shows this navigation hint on whatever slide you gave the 
     id of 'title'. You can delete this if you don't want to have
     the hint show up at all
-->
<div class="hint">
    Use a spacebar or arrow keys to navigate.<br>Press 'n' to toggle the navigation panel.
</div>
 
<script src="../common/js/localize.js"></script>
<script src="../common/js/impress.js"></script>
<script src="../common/js/showoff.js"></script>
<script type="text/javascript">SyntaxHighlighter.all()</script>

</body>
</html>
