#reveal img.appc_footer {
	position:absolute; 
	height:30px; 
	right:140px; 
	bottom:50px; 
	border:1px solid #a00;
	padding:2px;
	background:#fff;
}

#reveal section img {
	margin: 0;
	background: rgba(255,255,255,0);
	border: none;
	
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	   -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	     -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	     -o-transition: all .2s linear;
	        transition: all .2s linear;
}
